	 <%= form_for :session, html: {class: "form-signin"} do |f| %>
		<h2 class="form-signin-heading">Log Into Battle Cats</h2>
		<% if @user.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

		      <ul>
		      <% @user.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		 <% end %>
	
		<div class="field">
			<%= f.label :email, html: {class: "sr-only"} %>
			<%= f.email_field :email, html: {class: "form-control"} %>
		</div>
		
		
		<div class="field">
			<%= f.label :password, html: {class: "sr-only"} %>
			<%= f.password_field :password, html: {class: "form-control"} %>
		</div>
		
		
		<div class="actions">
			<%= f.submit "Log In", html: {class: "btn btn-lg btn-primary btn-block"} %>
		</div>
	<% end %>
