<%= bootstrap_form_for ([@user, @user.pets.build], multipart: true, html: {class: "form-signin"}) do |f| %>
  <h2 class="form-signin-heading">Add a Pet</h2>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this user from being saved:</h2>
    </div>

    <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.select :animal_type, ['dog', 'cat', 'bird', 'snake', 'fish', 'rabbit', 'other'], :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.text_area :bio, :class => "form-control", cols: 10, rows: 10 %>
  </div>
  <div class="field">
    <%= f.text_field :zipcode, :class => "form-control"%>
  </div>
  <div class="field">
    <%= f.file_field :avatar, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.submit "Create A New Pet", class: "btn btn-success btn-lg" %>
  </div>

<% end %>
