<!-- <img src="">  profile pic for pet-->

<h1><%= @pet.name %></h1>

  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this user from being saved:</h2>
    </div>

    <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="pet-show-card" style="width: 50rem;">
  <img class="pet-show-card-img-top" src=<%=@pet.avatar%>>
  <div class="pet-show-card-body">
    <h4 class="pet-show-card-title"><%= @pet.name %></h4>
    <p class="pet-show-card-bio"><%= @pet.bio %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>