

<h1><%= @user.user_name %>
<small class="text-muted">Your profile page</small>
</h1>

<%= button_to "Create A New Pet", new_user_pet_path(@user), method: :get, :class => "btn btn-primary btn-lg new-pet-button" %>
<%= button_to 'Delete User', @user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning btn-sm" %>


<ul class="list-group pet-list">
  <h2>Your Pets:</h2>
  <% @user.pets.each do |pet| %>
    <li class="list-group-item list-group-item-action pet-list"><a href="/users/<%= @user.id %>/pets/<%= pet.id %>" ><%= pet.name %></a> <%= link_to 'Delete Pet', pet, method: :delete, data: { confirm: 'Are you sure?'}  %></li>
  <% end %>
</ul>



<p class="h3">Completed Battles</p>
<% @user.pets.each do |pet| %>
  <% pet.battles.each do |battle| %>

  <% if battle.has_winner? %>
    <% battle.set_winner %>
    <ul class="list-group">
    <li class="list-group-item"><%= battle.pet_battles[0].pet.name %> vs <%= battle.pet_battles[1].pet.name %>, <%= battle.created_at.strftime("%b %e, %l:%M %p") %>, winner = <strong>
        <%= battle.winner.name %>
        </strong></li>
    </ul>
    <% elsif battle.is_tie? %>
    <ul class="list-group">
    <li class="list-group-item"><%= battle.pet_battles[0].pet.name %> vs <%= battle.pet_battles[1].pet.name %>, <%= battle.updated_at.strftime("%b %e, %l:%M %p") %>, <%= battle.tie %></li>
    </ul>
    <% end %>
  <% end %>
<% end %>


<p class="h3">Incomplete Battles - Click to Join!</p>
<% @user.pets.each do |pet| %>
  <% pet.battles.each do |battle| %>
    <% if battle.pending_battle? && battle.user_not_played == pet %>
      <ul class="list-group incomplete">
        <li class="list-group-item"><%= link_to "#{battle.pet_battles[0].pet.name} vs #{battle.pet_battles[1].pet.name}", battle_path(battle) %></li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<p class="h3">Waiting...</p>
<% @user.pets.each do |pet| %>
  <% pet.battles.each do |battle| %>
    <% if battle.pending_battle? && battle.user_not_played != pet %>
      <ul class="list-group">
        <li class="list-group-item">
          <%= battle.pet_battles[0].pet.name %> vs <%= battle.pet_battles[1].pet.name %>, waiting for other player
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>





