<h1><%= @user.user_name %>
<small class="text-muted">Your profile page</small>
</h1>



<button href="/users/<%= @user.id %>/pets/new" class="btn btn-primary btn-lg new-pet-button" disabled>Create A New Pet</button>

<ul class="list-group pet-list">
	<h2>Your Pets:</h2>
	<% @user.pets.each do |pet| %>
		<li class="list-group-item list-group-item-action"><a href="/users/<%= @user.id %>/pets/<%= pet.id %>" ><%= pet.name %></a> </li>
	<% end %>
</ul>