

<h1><%= @user.user_name %>
<small class="text-muted">Your profile page</small>
</h1>

<%= button_to "Create A New Pet", new_user_pet_path(@user), method: :get, :class => "btn btn-primary btn-lg new-pet-button" %>


<ul class="list-group pet-list">
  <h2>Your Pets:</h2>
  <% @user.pets.each do |pet| %>
    <li class="list-group-item list-group-item-action"><a href="/users/<%= @user.id %>/pets/<%= pet.id %>" ><%= pet.name %></a> </li>
  <% end %>
</ul>

<p class="h3">Completed Battles</p>
<% @user.pets.each do |pet| %>
  <% pet.battles.each do |battle| %>
    <% if battle.has_winner? %>
    <ul class="list-group">
    <li class="list-group-item"><%= battle.pet_battles[0].pet.name %> vs <%= battle.pet_battles[1].pet.name %>, <%= battle.created_at.strftime("%b %e, %l:%M %p") %>, winner = <strong><%= battle.winner.name %></strong></li>
    </ul>
    <% elsif battle.pending_battle? && battle.user_not_played == pet %>
    <p class="h3">Incomplete Battles - Click to Join!</p>
      <ul class="list-group">
        <li class="list-group-item"><%= link_to "#{battle.pet_battles[0].pet.name} vs #{battle.pet_battles[1].pet.name}", battle %></li>
      </ul>
     <% else %>
     <p class="h3">Waiting...</p>
      <ul class="list-group">
        <li class="list-group-item">
          <p><%= battle.pet_battles[0].pet.name %> vs <%= battle.pet_battles[1].pet.name %>, waiting for other player</p>
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>



