<h1><%= @user.user_name %>
<small class="text-muted">Your profile page</small>
</h1>

<%= button_to "Create A New Pet", new_user_pet_path(@user), method: :get, :class => "btn btn-primary btn-lg new-pet-button" %>
<%= button_to 'Edit Profile', "/users/verify/#{current_user.id}", method: :get, :class => "btn btn-warning btn-sm" %>
<%= button_to 'Delete User', @user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning btn-sm" %>

<div class="pet-list stats-list">
  <ul class="list-group pet-list">
  <h2>Your Pets:</h2>
  <% @user.pets.each do |pet| %>
    <li class="list-group-item list-group-item-action pet-list"><a href="/users/<%= @user.id %>/pets/<%= pet.id %>" ><%= pet.name %></a> | <%= link_to 'Delete Pet', pet, method: :delete, data: { confirm: 'Are you sure?'}  %> | <%= link_to 'Edit Pet',"/users/#{current_user.id}/pets/#{pet.id}/edit" %> </li>
  <% end %>
</ul>
</div>



<div class="completed-list stats-list">
  <p class="h3">Completed Battles</p>
  <ul class="list-group">
  <% @user.pets.each do |pet| %>
    <% pet.battles.each do |battle| %>
    <% if battle.has_winner? %>
      <% battle.set_winner %>
      <li class="list-group-item"><%= battle.pet_battles[0].pet.name %> vs <%= battle.pet_battles[1].pet.name %>, <%= battle.created_at.strftime("%b %e, %l:%M %p") %>, winner = <strong>
          <%= battle.winner.name %>, score=<%=battle.pet_battles[0].button_score %>
          <%= battle.loser.name %>, score=<%=battle.pet_battles[1].button_score %>
          </strong></li>
      
      <% elsif battle.is_tie? %>
      <li class="list-group-item"><%= battle.pet_battles[0].pet.name %> vs <%= battle.pet_battles[1].pet.name %>, <%= battle.updated_at.strftime("%b %e, %l:%M %p") %>, <%= battle.tie %></li>
      
      <% end %>
    <% end %>
  <% end %>
  </ul>
</div>


<div class="incomplete-list stats-list">
  <p class="h3">Incomplete Battles - Click to Join!</p>
  <ul class="list-group incomplete">
  <% @user.pets.each do |pet| %>
    <% pet.battles.each do |battle| %>
      <% if battle.pending_battle? && battle.user_not_played == pet %>
          <li class="list-group-item"><%= link_to "#{battle.pet_battles[0].pet.name} vs #{battle.pet_battles[1].pet.name}", battle_path(battle) %></li>   
      <% end %>
    <% end %>
  <% end %>
  </ul>
</div>

<div class="waiting-list stats-list">
  <p class="h3">Waiting...</p>
  <ul class="list-group">
  <% @user.pets.each do |pet| %>
    <% pet.battles.each do |battle| %>
      <% if battle.pending_battle? && battle.user_not_played != pet %>
          <li class="list-group-item">
            <%= battle.pet_battles[0].pet.name %> vs <%= battle.pet_battles[1].pet.name %>, waiting for other player
          </li>
      <% end %>
    <% end %>
  <% end %>
  </ul>
</div>





