

<h1><%= @user.user_name %>
<small class="text-muted">Your profile page</small>
</h1>

<%= button_to "Create A New Pet", new_user_pet_path(@user), method: :get, :class => "btn btn-primary btn-lg new-pet-button" %>

<!-- <button class="btn btn-primary btn-lg new-pet-button"><a href="<%= new_user_pet_path(@user) %>">Create A New Pet</a></button> -->

<ul class="list-group pet-list">
	<h2>Your Pets:</h2>
	<% @user.pets.each do |pet| %>
		<li class="list-group-item list-group-item-action"><a href="/users/<%= @user.id %>/pets/<%= pet.id %>" ><%= pet.name %></a> </li>
	<% end %>
</ul>

