<%= bootstrap_form_for :user, html: {class: "form-signin"}, method: :get, url: edit_user_path do |f| %>

<h2 class="form-signin-heading">Verify Your Identity</h2>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
 <% end %>

<div class="field">
	<%#= f.label :email, label: "Email", label_class: "sr-only" %>
	<%= f.email_field :email, control_class: "form-control email-input" %>
</div>


<div class="field">
	<%#= f.label :password, label: "Password", label_class: "sr-only" %>
	<%= f.password_field :password, control_class: "form-control password-input" %>
</div>


<div class="actions">
	<%= f.submit "Verify Details", class: "btn btn-lg btn-primary btn-block" %>
</div>
<% end %>
