<div class="card bg-light border-primary mb-3">
  <div class="card-header border-primary ">New Battle!</div>
  <%= bootstrap_form_for :battle, url: "/battles", html: {class: "form-signin"} do |f| %>
  <h2>Pick your Pet to Battle With!</h2>
    <%= f.hidden_field 'pet_to_battle', value: @pet_to_battle.id %>
    <div class="field">
    <% @user_pets.each do |pet| %>
      <div class="circular-landscape small-circle">
        <%= image_tag pet.avatar.url(:thumb), control_class: "avatar-img" %>
      </div>
      <%= radio_button_tag(:pet, "#{pet.id}") %> <%= pet.name%>
    <% end %>
    </div>
    <div class="actions">
      <%= f.submit "Battle!", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>
</div>
