<div class="card bg-light border-primary mb-3">
    <div class="card-header border-primary ">
      <%= @battle.pet_battles[0].pet.name %>
      vs.
      <%= @battle.pet_battles[1].pet.name %>
    </div>
    <div class="pet-show-card">
      <div class="top-part-of-card">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
          Battle Instructions
        </button>
        <div class="buttons-div">
        </div>
        <div >
          <img id="left-pet" class="avatar-img big-image" src=<%= @battle.pet_battles[0].pet.avatar.url(:medium) %>>
          </div>
          <%= link_to "The Battle Is Over! Click Here", current_user, :id => "redirect-to-profile",
      :class => "game-over btn btn-warning action-buttons  hidden" %>

        <div >
          <img id="right-pet" class="avatar-img big-image" src=<%= @battle.pet_battles[1].pet.avatar.url(:medium)%>>
          </div>
          <div class="pet-show-card-body">
            <h3 class="pet-show-card-title"></h3>
          <div class="stats-div">

            </div>
            <div class="buttons-div">
              <div class="<%= @battle.id %>">
              <button class="btn btn-warning action-buttons" id="fight-button">Start!</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Battle Instructions:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <h2>Battle Instructions:</h2> -->
        <p>Below the images, you will see the Start Button. After hitting the start button there will be a button that says "Click Me". You want to tap that button as fast as you can to get a high button score. Once the button disappears scroll to the top of the page and there will be a game over, click here button. This will take you back to your profile page while you wait for the other User to battle.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

